.git
.gitignore
.env
.env.*
!.env.example
node_modules
**/node_modules
vendor
storage/app/*
!storage/app/.gitignore
!storage/app/public
!storage/app/public/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/hrms-views/*
!storage/framework/hrms-views/.gitignore
storage/logs/*
!storage/logs/.gitignore
public/hot
public/build
.phpunit.result.cache
coverage
*.sql
*.sqlite
*.sqlite3
*.bak
.idea
.vscode
README.md
